.card {
  width: 25rem;
  height: 25rem;

  background-color: var(--surface);
  border-radius: var(--rounded-card);

  transition: opacity 150ms, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 2);

  perspective: 150rem;
  position: relative;
}
.card:hover {
  opacity: 0.8;
}
.card:active {
  transform: scale(0.95);
}

.card-side {
  backface-visibility: hidden;
  position: absolute;
  inset: 0;
  padding: 2rem;

  display: grid;
  place-items: center;

  transition: transform 300ms;
}
.card-side.back {
  transform: rotateY(-180deg);
}
.rotating .card-side.front {
  transform: rotateY(180deg);
}
.rotating .card-side.back {
  transform: rotateY(0deg);
}

.card-side img {
  height: 16rem;
}
.card-side figcaption {
  font-size: 2rem;
  font-weight: 500;
}

.card-side.back {
  font-size: 5rem;
}
